* {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    color: #212529;
}


h1 {
    font-family: "Nunito";
    font-size: 30px;
    font-weight: 700;

    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: "Roboto";
    padding-top: 30px;
    font-size: 2.5em;
}


p {
    font-family: "Nunito";
    font-size: 1.375rem;
}

section {
    text-align: center;
}


/* Flexbox */
 .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-item {
    display: inline-flex;
    flex-direction: column;
}


/*navbar*/
 .navbar {
    height: 60px;
    text-align: center;
}

.navbar-collapse {
    background-color: white;
}

.nav-link {
    margin: 0 1.5rem;
}

.nav-link:hover {
    font-weight: bold;
}

.navbar-text {
    padding: auto 5%;
}

.navbar-toggler {
    margin-right: 20px;
} 

/*Header*/
 .main-heading {
    display: flex;
    margin-top: 70px;
    background-color: white;
    justify-content: center;
    align-content: center;
}

.photo-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../images/photo-hero-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding: 100px auto 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.photo-hero img {
    height: 10%; 
} 

 .btn-light {
    
    width: 300px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    white-space: nowrap;
    
    font-size: 1.5rem;
    
    background-color: whitesmoke;
}

.photo-hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    font-size: 3.5rem;
    font-weight: 700;
    
    color: white;
}

#budka-img {
    height: 40px;
    margin-left: 1.25rem;
} 

/*About*/
 #about {
    text-align: center;
    min-height: 500px;
    justify-content: center;
}

#about .container p {
    margin-top: 5%;
}

.profile-photo {
    display: inline-block;
    width: 300px;
    border-radius: 50%;
    margin: 5% auto 0;

} 

/*Services*/
 #services {
    display: flex;
    
    background-color: #ad6d053b;
} 

 .services-row, .service-row img, .service-row h3 {
    display: inline-flex;
}  

 .services-intro {
    margin: 0 13%;
}

#services img {
    max-width: 250px;
    height: auto;

    background-color: beige;
    border-radius: 5%;
    scale: 80%; 

}

/*Media*/

  


/*Contact*/

#contact div,
#contact p {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

form {
    margin-top: 5%;
    padding-bottom: 50px;
}

form input {
    margin: 10px;
    border-radius: 10px;
}

form textarea {
    margin: 20% 10%;
    border-radius: 10px;
}

/*Footer*/
 footer {
    height: 3rem;
    bottom: 0;
    text-align: center;
    /*background-color: rgba(210, 221, 32, 0.7); */


}

 footer p {
    font-size: 0.7rem;

} 

/*buttons*/
form {
    justify-content: flex-start;
}

form button:hover {
    background-color: #a1cfae;
}

form button:active {
    font-weight: 600;
}


form button {
    
    margin: 30px;
    padding: 10px 20px;

    
    background-color: #CAFCD8;
    border: darkgray;
    border-radius: 10px;
}



/* Media query */
 @media only screen and (max-width: 426px) { 

    /* .btn-light {
        top: 80%;
    } */
   
 
    form,
    label {
        justify-content: flex-start;
    }

    form p,
    textarea {
        max-width: 90%;
    }

    h1 {
        font-size: 1.25rem;
    }
}
